@wpp-open:registry=https://gitlab.com/api/v4/projects/32142954/packages/npm/
//gitlab.com/api/v4/projects/32142954/packages/npm/:_authToken=${OSMIUM_ACCESS_TOKEN}
always-auth=true

@platform-ui-kit:registry=https://gitlab.com/api/v4/projects/34107826/packages/npm/
//gitlab.com/api/v4/projects/34107826/packages/npm/:_authToken=${OSMIUM_ACCESS_TOKEN}
always-auth=true
